<!DOCTYPE html>
<html>
    <!-- This is my heading now -->
    <%- include ('../partials/head.ejs', {page: 'edit form'}) %>
    
    <!-- This is my nav bar now -->
    <%- include ('../partials/nav.ejs') %>

    <section class="hero is-medium has-background-light">
    <div class="hero-body">
        
    </div>
    <div class=display_image> </div>
    <h1 class="title">Edit Art </h1>
    </section>
    

    <section class="container is-max-widescreen p-5">
    <!--  NOTE: action will be the route, method will be the HTTP verb-->
   
    <form class= 'editform' action="/artwork/<%=artwork._id %>?_method=PUT" method="POST">
        
       
        
        <div class="field">
        <label class="label">Artwork </label>
        <div class="control">
            <input
            class="input"
            type="text"
            placeholder="artwork"
            name="Artwork"
            value="<%= artwork.Artwork[1] %>"
            />
        </div>
        </div>

        <div class="field">
        <label class="label">Art Image</label>
        <div class="control">
            <input
            class="input"
            type="text"
            placeholder=" image"
            name="image"
            value="<%= artwork.Image[i] %> "
            />
        </div>
        </div>
        <div class="field">
        <label class="label">Mediums</label>
        <div class="control">
            <input
            class="input"
            type="text"
            placeholder=" mediums"
            name="Mediums"
            value="<%= artwork.Mediums[i] %> "
            />
        </div>
        </div>
        

        <div class="field is-grouped">
        <div class="control">
            <a class="cancelbutton " href="/artwork/<%= artwork._id %> "
            >Cancel</a
            >
            <button class="editbutton" type="submit">Edit Art</button>
        </div>
        </div>
    </form>
    </section>
    <div class=display_image> </div>
</body>
</html>