<!DOCTYPE html>
<html lang="en">
    
    <!-- This is my heading now -->
    <%- include ('../partials/head.ejs', {page: 'All artWork'}) %>
    
    <!-- This is my nav bar now -->
    <%- include ('../partials/nav.ejs') %>
    <section class="hero is-medium has-background-light">
        <div class="hero-body">
            <p class="title">All artWork</p>
        </div>
    </section>
    
    <main class="container is-max-widescreen">
        <div class="columns is-multiline p-5">
            <% for(let idx = 0; idx < artworks.length; idx++){ %> 
                <% const artwork = artworks[idx] %>
                
                <div class="column is-one-third">
                    <article class="card">
                        <section class="card-image">
                            <figure class="image is-3by3">
                                <img src="<%= artwork.Image %>" alt="Placeholder image" />
                            </figure>
                        </div>
                    </section>
                    <div class="card-content">
                        <div class="content">
                            <h3>
                                <a href="/artwork/<%= artwork._id %>"><%= artwork.Mediums %> </a>
                            </h3>
                        </div>
                    </div>
                </article>
            </div>
            <% } %>
        </div>
    </main>
</body>
</html>