<!DOCTYPE html>
    <html lang="en">
    <%- include ('../partials/head.ejs', {page: 'Artwork' }) %>
      
    This is my nav bar now
    <%- include ('../partials/nav.ejs') %>

        <section class="hero is-medium has-background-light">
        <div class="hero-body">
            <h1 class="title">artwork Show </h1>
        </div>
        <div class=display_image> </div>
        </section>

        <div class="container is-max-widescreen p-5">
            <article class="media">
                <%for(let i=0; i< artworks.Image.length; i++){%>
                    <% const image = artworks.Image[i]%>
                    <section class="card-image">
                        <figure class="media-left">
                     
                            <img src="<%= artworks.Image %>" alt="artwork img" />
                            <h3><%= artworks.Artwork[i] %></h3>
                        </figure>
                    </section>
                    <% } %>
            <div class="media-content">
            <div class="content">
                
                <small><%= artworks.Mediums %></small>
                
                <div class="field mt-5 is-grouped">
                <div class="control">
                    <a class="button is-info" href="/artwork/<%= artworks._id %>/edit">Edit artwork
                    </a>
                </div>
                <p class="control">
                    <form action="/artwork/<%= artworks._id %>?_method=DELETE" method="POST">
                        <input class="button is-danger" type="submit" value="Delete artwork"/>                    
                    </form>
                </p>
                </div>
            </div>
            </div>
        </article>
        </div>
    </body>
    </html> 