    <!DOCTYPE html>
    <html>
        <!-- This is my heading now -->
        <%- include ('../partials/head.ejs', {page: 'edit form'}) %>
        
        <!-- This is my nav bar now -->
        <%- include ('../partials/nav.ejs') %>

        <section class="hero is-medium has-background-light">
        <div class="hero-body">
            <h1 class="title">Edit Art </h1>
        </div>
        </section>

        <section class="container is-max-widescreen p-5">
        
        <form action="/artist/<%=artist._id %>?_method=PUT" method="POST">
            <div class="field">
            <label class="label">Artist Name</label>
            <div class="control">
                <input
                class="input"
                type="text"
                placeholder="artist name"
                name="name"
                value="<%= artist.Name %> "
                />
            </div>
            </div>

            <div class="field">
            <label class="label">Artwork </label>
            <div class="control">
                <input
                class="input"
                type="text"
                placeholder="artwork"
                name="name"
                value="<%= artist.Artwork %>"
                />
            </div>
            </div>

            <div class="field">
            <label class="label">Art Image</label>
            <div class="control">
                <input
                class="input"
                type="text"
                placeholder=" image"
                name="image"
                value="<%= artist.Image %> "
                />
            </div>
            </div>
            <div class="field">
            <label class="label">Mediums</label>
            <div class="control">
                <input
                class="input"
                type="text"
                placeholder=" mediums"
                
                value="<%= artist.Mediums %> "
                />
            </div>
            </div>
            <div class="field">
            <label class="label">Number of pieces</label>
            <div class="control">
                <input
                class="input"
                type="Number"
                placeholder=" 00"
                value="<%= artist.numberOfPieces %> "
                />
            </div>
            </div>

            <div class="field is-grouped">
            <div class="control">
                <a class="button is-info" href="/artist/<%= artist._id %> "
                >Cancel</a
                >
                <button class="button is-success">Edit Art</button>
            </div>
            </div>
        </form>
        </section>
    </body>
    </html>