    <!DOCTYPE html>
    <html lang="en">
    <%- include ('../partials/head.ejs', {page: artist.Title }) %>
      
    This is my nav bar now
    <%- include ('../partials/nav.ejs') %>

        <section class="hero is-medium has-background-light">
        <div class="hero-body">
            <h1 class="title">artist Show Page</h1>
        </div>
        </section>

        <div class="container is-max-widescreen p-5">
        <article class="media">
            <figure class="media-left">
            <p class="image is-328x328">
                <img src="<%= artist.Image %>" alt="artist img" />
            </p>
            </figure>
            <div class="media-content">
            <div class="content">
                <h3>Title: <%= artist.Title %></h3>
                <small>Artist: $<%= artist.Artist %></small>
                <small>Mediums: $<%= artist.Mediums %></small>
                <small>Date: $<%= artist.Date %></small>
                <div class="field mt-5 is-grouped">
                <div class="control">
                    <a class="button is-info" href="/artists/<%= artist._id %>/edit">Edit artist
                    </a>
                </div>
                <p class="control">
                    <form action="/artists/<%= artist._id %>?_method=DELETE" method="POST">
                        <input class="button is-danger" type="submit" value="Delete artist"/>                    
                    </form>
                </p>
                </div>
            </div>
            </div>
        </article>
        </div>
    </body>
    </html> 