    <!DOCTYPE html>
    <html lang="en">
        <%- include ('../partials/head.ejs', {page: 'Artist' }) %>
        <%- include ('../partials/nav.ejs') %>

        <section class="hero is-medium has-background-light">
            <div class="hero-body">
                <h1 class="title">artist Show </h1>
            </div>
        </section>

        <div class="container is-max-widescreen p-5">
            <article class="media">
                <%for(let i=0; i< artist.Image.length; i++){%>
                    <% const image = artist.Image[i]%>
                        <section class="card-image">
                            <figure class="image is-3by3">
                                <img src="<%= artist.Image[i] %>" alt="Placeholder image" />
                                <small><%= artist.Artwork[i] %></small>
                            </figure>
                        </section>
                <% } %>
                <div class="card-content">
                    <div class="content">
                        <h3> <%= artist.Name %></h3>
                        <small><%= artist.Mediums %></small>
                        <small><%= artist.Date %></small>
                           
                        <div class="field mt-5 is-grouped">
                            <div class="control">
                                <a class="button is-info" href="/artist/<%= artist._id %>/edit">Edit artist</a>
                            </div>
                            <p class="control">
                                <form action="/artist/<%= artist._id %>?_method=DELETE" method="POST">
                                    <input class="button is-danger" type="submit" value="Delete artist"/>                    
                                </form>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </div>  
    </body>
</html> 